diffusers
huggingface_hub
transformers
safetensors
accelerate
peft
imageio
imageio-ffmpeg
opencv-python
ftfy
modelscope
tokenizers
tqdm
imageio[ffmpeg]
easydict
ftfy
dashscope
numpy
decord2
peft
onnxruntime
pandas
matplotlib
loguru
sentencepiece